.container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  //background-color: teal;
  width: 1000px;
  text-align: start;

}
.homepage {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70vw;
  height: 70vh;
  overflow: scroll;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}
